<h2>Países</h2>

<ul class="list-group">
  <!--   <li 
       *ngFor="let option of menuOptions; let i = index"
        class="list-group-item"
        [routerLink]="option[i]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
    >
        {{option}}
    </li> -->

    <li
      class="list-group-item"
      routerLink="countries/by-country"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
    >
        Por País
    </li>

    <li
    class="list-group-item"
    routerLink="countries/by-region"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >
      Por Región
  </li>

  <li
  class="list-group-item"
  routerLink="countries/by-capital"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}"
>
    Por Capital
</li>
</ul>