<h2>Por Región</h2>

<hr>

<div class="row">
    <div class="col">
        <button *ngFor="let region of regionsName; let i = index"
            [ngClass]="{'btn-outline-primary': selectedRegion === regions[i]}"
            class="btn mx-2"
            (click)="searchByRegion(regions[i])"
        >
            {{region}}
        </button>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr>
        <shared-loading-spinner *ngIf="isLoading" [term]="'Región'"></shared-loading-spinner>

        <country-card [countries]="countries" class="d-block d-md-none"></country-card>
        <countries-table [countries]="countries" class="d-none d-md-block"></countries-table>
        </div>
</div>
