<div class="row">
    <div class="col text-center">
        <div class="btn-group btn-group-sm mb-3" role="group">
            <button *ngFor="let region of regionsName; let i = index"
            [ngClass]="{'btn-secondary text-white': selectedRegion === regions[i]}"
            class="btn btn-outline-secondary"
            (click)="searchByRegion(regions[i])"
            type="button"
            >
                {{region}}
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <shared-loading-spinner *ngIf="isLoading" [term]="'Región'"></shared-loading-spinner>

        <country-card [countries]="countries" class="d-block d-md-none"></country-card>
        <countries-table [countries]="countries" class="d-none d-md-block"></countries-table>
        </div>
</div>
